.dark{
  color: white;
  text-shadow: 2px 2px 5px black;
}

.border {
  border-width:4px !important;
}

.background{
  background: url("../../assets/img/conifer-1850227_1920.jpg") no-repeat 100% 80%;
}
