<div class="container-fluid">
  <div class="row">
  <div class="col-12 background ">
  <h1 class="display-3 mt-5 p-5 dark text-center">Fahrzeuge</h1>
  </div>
  </div>
  <div class="row">
    <div class="col-12 my-5" align="center">
      <button type="button"  (click)="showModal=true"  routerLink="vehicleBasicData" class="btn btn-light"
      data-toggle="modal" data-target="#myModal">Neues Inserat</button>
    </div>
  </div>
  <app-vehicle-list></app-vehicle-list>
</div>

<!-- Modal -->
<div class="modal" id="myModal" [ngClass]="{'show': showModal}" role="dialog">
  <div class="modal-dialog" role="form">
    <router-outlet></router-outlet>
  </div>
</div>
