<div class="row">
  <div class="col-10 p-5 mt-0 m-auto">
    <div class="card text-center">
      <div class="card-header">
        <div class="row">
          <div class="col-9" align="left">
            {{vehicle.vehicleBasicData.manufacturer}} {{vehicle.vehicleBasicData.model}}
          </div>
          <div class="col-3" align="right">
            <button type="button" class="btn btn-dark m-1 ">Details</button>
          </div>
        </div>
      </div>
      <div class="card-body row" align="left">
        <div class="col-lg-4">
          <!--<app-vehicle-carousel [images]="vehicle.images"></app-vehicle-carousel>-->
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <app-vehicle-main-data [vehicle]="vehicle"></app-vehicle-main-data>
            <div class="row mt-4">
              <div class="col p-3 ">
                <p></p>
              </div>
              <div class="col p-3 ">
                <p></p>
              </div>
              <div class="col p-3 border-bottom">
                <h3> vehicleprice €</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-9" align="left">
            02.09.2018
          </div>
          <div class="col-3" align="right">
            <button (click)="deleteVehicle(vehicle.id)" class="btn btn-dark m-1">
              Bearbeiten
            </button>
            <button (click)="deleteVehicle(vehicle.id)" class="btn btn-dark m-1">
              Löschen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
