<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group container mt-5">
        <div class="row m-auto">
          <div class="col-6">
            <div class="form-group">
              <label for="manufacturer" class="dark">Hersteller:</label>
              <input name="manufacturer" id="manufacturer" class="form-control"
                     [(ngModel)]="vehicleBasicData.manufacturers"/>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="modell">Modell:</label>
              <input name="model" id="modell" class="form-control" [(ngModel)]="vehicleBasicData.models"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button routerLink="">Abbrechen</button>
    <button routerLink="../vehicleCondition">Nächste Seite</button>
  </div>
</div>
