<div class="row">
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleConditionData.mileage}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleBasicData.firstRegistration}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleTechnicalData.power}}
  </div>
</div>
<div class="row">
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleTechnicalData.typeOfFuel}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleConditionData.vehicleOwner}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleTechnicalData.gearType}}
  </div>
</div>
<div class="row">
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleConditionData.nextTechnicalExamination}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleTechnicalData}} l/100km
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.vehicleTechnicalData.environmentalBadge}}
  </div>
</div>
