<div class="row">
  <div class="col p-3 border-bottom">
    {{vehicle.mileAge}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.firstRegistration}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.powerInKW}}kwW ({{vehicle.powerInPS}}PS)
  </div>
</div>
<div class="row">
  <div class="col p-3 border-bottom">
    {{vehicle.typeOfFuel}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.numberOfVehicleHolders}} Fahrzeughalter
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.gearType}}
  </div>
</div>
<div class="row">
  <div class="col p-3 border-bottom">
    TÜV {{vehicle.nextTechnicalExamination}}
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.consumptionPerHundredKilometer}}l/100km
  </div>
  <div class="col p-3 border-bottom">
    {{vehicle.environmentalBadge}}
  </div>
</div>
