<div class="jumbotron jumbotron-fluid mb-5" id="jumbatron">
  <div class="container text-center center m-auto">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-1">AUTOMOBILE MEYER</h1>
    <br>
    <h1 class="display-4">Mit uns bleiben Sie mobil.</h1>
  </div>
</div>

<div class="container-fluid">

  <div class="row mr-5  p-5 bg-dark dark">
    <div class="col-lg-5 col-sm-9 p-lg-5 p-sm-2">
      <img src="../../assets/img/autohaus-2138927_1920.jpg" alt="" class="imgcol">
    </div>
    <div class="col-lg-7 col-sm-9 p-lg-5 p-sm-2">
      <h1>Some Text</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

  <div class="row ml-5 p-5 bg-light light">
    <div class="col-lg-7 col-sm-9 p-lg-5 p-sm-2">
      <h1>Some Text</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-5 col-sm-9 p-lg-5 p-sm-2">
      <img src="../../assets/img/autohaus-2138927_1920.jpg" alt="" class="imgcol">
    </div>
  </div>

  <div class="row ml-5 p-5 bg-dark dark">
    <div class="col-lg-5 col-sm-9 p-lg-5 p-sm-2">
      <img src="../../assets/img/autohaus-2138927_1920.jpg" alt="" class="imgcol">
    </div>
    <div class="col-lg-7 col-sm-9 p-lg-5 p-sm-2">
      <h1>Some Text</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

  <div class="row mr-5 p-5 bg-light light">
    <div class="col-lg-7 col-sm-9 p-lg-5 p-sm-2">
      <h1>Some Text</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-5 col-sm-9 p-lg-5 p-sm-2">
      <img src="../../assets/img/autohaus-2138927_1920.jpg" alt="" class="imgcol">
    </div>
  </div>

</div>


